<ul class="uk-breadcrumb">
  <li><a [routerLink]="['/passengers']">Passengers</a></li>
  <li><span>List of Passengers</span></li>
</ul>

<div
  class="uk-width-1-1 uk-flex uk-flex-between uk-padding-small uk-margin"
  uk-grid
>
  <div class="uk-margin uk-width-2-3">
    <input class="uk-input" type="text" placeholder="Search" />
  </div>

  <div>
    <button class="uk-button uk-margin uk-button-primary">
      Create Passenger
    </button>
  </div>
</div>

<table class="uk-table uk-table-divider">
  <thead>
    <tr>
      <th>Table Heading</th>
      <th>Table Heading</th>
      <th>Table Heading</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Table Data</td>
      <td>Table Data</td>
      <td>Table Data</td>
    </tr>
    <tr>
      <td>Table Data</td>
      <td>Table Data</td>
      <td>Table Data</td>
    </tr>
    <tr>
      <td>Table Data</td>
      <td>Table Data</td>
      <td>Table Data</td>
    </tr>
  </tbody>
</table>
