<div uk-grid>
  <div class="uk-width-1-2 uk-height-large">
    <div class="uk-card uk-card-default uk-card-body">
      <h3 class="uk-card-title">Default</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="uk-width-1-2 uk-height-large">
    <div class="uk-card uk-card-primary uk-card-body">
      <h3 class="uk-card-title">Primary</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>

  <div class="uk-width-1-1 uk-height-large">
    <div class="uk-card uk-card-primary uk-card-body">
      <h3 class="uk-card-title">Primary</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>
</div>
