<div class="uk-grid-collapse" uk-grid>
  <div class="uk-width-1-4">
    <div class="container">
      <form class="uk-form-stacked uk-margin uk-padding">
        <h3 class="uk-align-center">Login</h3>
        <div>
          <label class="uk-form-label">Email</label>
          <div class="uk-form-controls">
            <input
              class="uk-input uk-form-width-large"
              type="text"
              placeholder="Name"
              formControlName="name"
            />
          </div>
        </div>
        <div class="uk-margin-top">
          <div class="uk-form-label">Password</div>
          <div class="uk-form-controls">
            <input
              class="uk-input uk-form-width-large"
              type="text"
              formControlName="phone"
              placeholder="****"
            />
          </div>
        </div>

        <div class="uk-margin-top">
          <button
            class="
              uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom
            "
          >
            Log In
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="uk-width-3-4 image-side">
    <img data-src="assets/drivers.jpg" alt="" uk-img />
  </div>
</div>
