<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" href="#">
      <img src="assets/logo.png" alt="" srcset="" />
    </a>
  </div>

  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li routerLinkActive><a [routerLink]="['/dashboard']">Dashboard</a></li>
      <li>
        <a [routerLink]="['/dashboard/driver']">Drivers</a>
      </li>
      <li><a [routerLink]="['/dashboard/passengers']">Passengers</a></li>
      <!-- <li><a [routerLink]="['/dashboard/rides']">Rides</a></li> -->
      <li>
        <a>Rides</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-active">
              <a [routerLink]="['/dashboard/rides']">Ongoing Rides</a>
            </li>
            <li>
              <a [routerLink]="['/dashboard/rides/all']">Finished Rides</a>
            </li>
          </ul>
        </div>
      </li>
      <li><a uk-icon="icon: sign-out">Log Out</a></li>
    </ul>
  </div>
</nav>

<div class="uk-container uk-container-expand uk-margin">
  <router-outlet></router-outlet>
</div>
