<ul class="uk-breadcrumb">
  <li><a [routerLink]="['/driver']">Drivers</a></li>
  <li><span>List of Drivers</span></li>
</ul>

<div
  class="
    uk-card
    uk-card-default
    uk-card-body
    uk-width-1-1
    uk-flex
    uk-flex-between
    uk-padding-small
  "
  uk-grid
>
  <div class="uk-margin uk-width-2-3">
    <input class="uk-input" type="text" placeholder="Search" />
  </div>

  <div>
    <button class="uk-button uk-margin uk-button-primary">Create Driver</button>
  </div>
</div>

<table class="uk-table uk-table-divider">
  <thead>
    <tr>
      <th>Table Heading</th>
      <th>Table Heading</th>
      <th>Table Heading</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Table Data</td>
      <td>Table Data</td>
      <td>Table Data</td>
    </tr>
    <tr>
      <td>Table Data</td>
      <td>Table Data</td>
      <td>Table Data</td>
    </tr>
    <tr>
      <td>Table Data</td>
      <td>Table Data</td>
      <td>Table Data</td>
    </tr>
  </tbody>
</table>
